

.header {
    padding-top: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 600px;
    /* width: 100vw; */
}
.h1 {
    color: var(--sidebar--acive-color);
}

.utils {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.auth {
    border: 1px solid var(--sidebar--acive-color);
    background-color: var(--sidebar--acive-color);
    padding: 10px 24px;
    border-radius: 15px;
    text-decoration: none;
    color: var(--auth-link-color);
}