

.header {
    padding-top: 24px;
    display: inline-flex;
    align-items: center;
    gap: 600px;
    width: 100vw;
}

.utils {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.auth {
    border: 1px solid var(--sidebar--acive-color);
    background-color: var(--sidebar--acive-color);
    padding: 10px 24px;
    border-radius: 15px;
    text-decoration: none;
    color: var(--auth-link-color);
}