:root {
    --sidebar-background-color: #F9FAFB;
    --sidebar-text: #637381;
    --icon-fill: #919EAB;
    --sidebar--acive-color: #FFC831;
    --page-background-color: #F5F5F5;
    --page-text-color: #212B36;
    --placeholder-color: #000000;
    --active-tag-color: #FFFFFF;
    --input-background: #F3F5F7;
    --auth-link-color: #15141B;
}
